/*About and Experience*/
/*Recent Work*/
/*Feature*/
/*Recent Blog and Footer*/
/*Font*/
.body {
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.header-block {
  background: url("../img/header-img.jpg") no-repeat center top;
  width: 100%;
}
.header-block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  margin-top: 0px;
}
.header-block__container_menu {
  display: flex;
  justify-content: center;
  height: 60px;
}
.header-block__container a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Agency FB";
}
.header-block__container ul {
  padding-left: 0px;
}
.header-block__container li {
  display: inline-block;
  padding: 0 8px;
}
.header-block__container_main {
  display: flex;
  justify-content: center;
  height: 638px;
}
.header-block__container_main-aside {
  background: #51b2ff;
  width: 554px;
  opacity: 0.5;
}
.header-block__container_main-content {
  background: #303036;
  width: 554px;
  opacity: 0.5;
}
h1,
h2,
hr {
  color: white;
  margin-left: 80px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: sans-serif;
}
h1 {
  margin-top: 150px;
}
.animation:hover {
  text-decoration: underline;
  color: yellow;
  text-underline-style: dash;
}
/*About and Experience*/
.section-block {
  background: url("../img/section-img.png") no-repeat center top;
  width: 100%;
  height: 500px;
  justify-content: center;
}
.section-block__container {
  display: flex;
  margin-top: 0px;
  justify-content: center;
}
.section-block__container_main {
  display: flex;
}
.section-block__container_main-left {
  display: flex;
  align-items: flex-end;
  width: 554px;
}
.section-block__container_main-right {
  display: inline-block;
  width: 500px;
}
.section-block-text {
  margin-left: 80px;
  margin-top: 30px;
  color: white;
  width: 300px;
  font-family: "Agency FB";
  font-size: 20px;
}
.img {
  height: 350px;
  margin: 150px 0 20px 0;
}
.clients {
  height: 65px;
  display: inline-block;
  background: #f8f8f8;
  width: 150px;
}
h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Agency FB";
  margin-top: 13px;
  margin-bottom: 0px;
}
.section-block-about {
  margin: 0px auto;
}
.button {
  height: 40px;
  width: 160px;
  background: #363636;
  color: white;
  border: 0px;
  margin-left: 140px;
}
.section-block1 {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
}
.section-block1 .section-block__container1 {
  display: flex;
}
.section-block1 .section-block__container1_main1 {
  display: flex;
  justify-content: center;
}
.section-block1 .section-block__container1_main1-left1 {
  display: inline-block;
  width: 548px;
}
.section-block1 .section-block__container1_main1-top1 {
  width: 250px;
}
.section-block1 .section-block__container1_main1-right1 {
  width: 250px;
}
.section-block1 .section-block__container1_main1 .icon {
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.section-block1 .section-block__container1_main1 p {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Agency FB";
  text-align: center;
}
.exp {
  color: black;
}
.icon:hover {
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
  transition: 0.2s ease-in;
}
/*Bord Recent Work*/
.section-block2 {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: center;
}
/*# sourceMappingURL=style.css.map */